openapi: '3.0.0'
info:
  version: 1.0.0
  title: Dayslla Lays API
  license:
    name: MIT
servers:
  - url: https://api.dayslla-lays.com/v1
paths:
  /docs:
    get:
      summary: List all documents
      operationId: listDocs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of docs
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a document
      operationId: createDocs
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /docs/{docId}:
    get:
      summary: Info for a specific document
      operationId: showDocById
      parameters:
        - name: docId
          in: path
          required: true
          description: The id of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a document
      operationId: updateDoc
      responses:
        200:
          description: Document updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /spaces:
    get:
      summary: List all documentation spaces
      operationId: listSpaces
      responses:
        200:
          description: An array of documentation spaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spaces'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a documentation space
      operationId: createSpaces
      responses:
        201:
          description: Space created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks:
    post:
      summary: Register a webhook
      operationId: createWebhook
      responses:
        201:
          description: Webhook registered successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Doc:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        content:
          type: string
    Docs:
      type: array
      items:
        $ref: '#/components/schemas/Doc'
    Space:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
    Spaces:
      type: array
      items:
        $ref: '#/components/schemas/Space'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
